.container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  & > * {
    width: 1136px;
  }

  &__header {
    height: 125px;
    &__menu {
      background-color: pink;
      &__list {
        list-style-type: none;
        display: flex;
        &__item {

        }
      }
    }
  }

  &__view {
    height: 100vh;
    &__browser {
      display: flex;

      flex-wrap: wrap;
      &__thumbnail {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 150px;
        margin: 10px;
        &__image {
          margin-left: auto;
          margin-right: auto;
          height: 150px;
          width: 125px;
        }
        &__body {
          margin-left: 12.5px;
          margin-right: 12.5px;
          height: 75px;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;
          &__title {
            margin: 0;
          }
          &__price {
            text-align: right;
            align-self: flex-end;
            width: 125px;
          }
        }
      }
    }
  }
}
